{% if person %}

    <h1>{{person.name}}</h1>
    <ul>
        {% for relation in person.person_relations.all  %}
        <li>{{relation.person.name}} > {{relation.type_relation}}</li>
        {% endfor %}
        
    </ul>

    <form method="GET" action="{% url 'relation-persons-create' %}">
        {% csrf_token %}
        <input type="hidden" name="id_person" value={{person.id}}>
        <button type="submit">Relacionar pessoas</button>
    </form>

    <form method="GET" action="{% url 'address-create' %}">
        {% csrf_token %}
        <input type="hidden" name="id_person" value={{person.id}}>
        <button type="submit">Associar endereço</button>
    </form>

    <form method="GET" action="{% url 'select-faction' %}">
        {% csrf_token %}
        <input type="hidden" name="id_person" value={{person.id}}>
        <button type="submit">Associar a facção</button>
    </form>

     <form method="GET" action="{% url 'registration-incident' %}">
        {% csrf_token %}
        <input type="hidden" name="id_person" value={{person.id}}>
        <button type="submit">Registrar ocorrência</button>
    </form>

{% endif %}