{% extends "base/base.html" %}
{% load static %}

{% block 'content' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">Bem-vindo ao Dirty List | <span class="lead text-center">Leonardo<span></h2>
            <p class="lead text-center">O sistema "<strong>dirty list</strong>" é uma ferramenta poderosa para cadastrar, listar e relacionar ocorrências criminais...</p>
        </div>
    </div>
    <hr>
    

    <div class='container mt-2'>
        
        <div class='row justify-content-center'>
            <div class='col-md-4 me-lg-3 ga'>
                <div class='row'>
                    <h4 class="text-center text-dark mb-4">Gráfico | <span class="lead text-center">Ocorrências registradas<span></h4>
                </div>
                <div class='row'>
                    <p class="text-center lead text-bg-danger"><strong>Número total de ocorrências: </strong>{{incident.count}} </strong> </p>
                </div>
                <canvas  id="grafico_ocorrencias"></canvas>
            </div>

            <div class='col-md-4'>
                <div class='row'>
                    <h4 class="text-center text-dark mb-4">Tabela | <span class="lead text-center">Facções registradas<span></h4>
                </div>
                <div class='row'>
                    <p class="text-center lead text-bg-danger"><strong>Número total de facções: </strong>{{factions.count}} </strong> </p>
                </div>
                <table class="table table-dark table-striped">
                    <thead>
                            <tr>
                            
                            <th scope="col">Facção</th>
                            <th scope="col">Lideres</th>
                            <th scope="col">Membros</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for faction in factions  %}
                            
                                <tr>
                                    <td>{{faction.name|upper}}</td>
                                    <td>{{faction.leaders.count}}</td>
                                    <td>{{faction.member.count}}</td>
                                </tr>
                            
                            {% endfor %}
                            
                           
                        </tbody>
  
                </table>
            </div>
        </div>
    </div>
    
    
   
  

        

   

    
</div>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('grafico_ocorrencias');
      
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: JSON.parse('{{labels|escapejs}}'),
            datasets: [{
              label: 'Qtd',
              data: JSON.parse('{{values_labels|escapejs}}'),
              borderWidth: 1
            }]
          },
          
        });
    </script>


{% endblock 'content' %}