{% extends "base/base.html" %}
{% load static %}

{% block 'content' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">Bem-vindo ao Dirty List | <span class="lead text-center">Leonardo<span></h2>
            <p class="lead text-center">O sistema "<strong>dirty list</strong>" é uma ferramenta poderosa para cadastrar, listar e relacionar ocorrências criminais...</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card border-info-subtle">
                <div class="card-body text-center " >
                    <h5 class="card-title bg-info-subtle rounded-4">Lista de Pessoas</h5>
                    <p class="card-text">Exibe todas as pessoas cadastras.</p>
                    <a href="{% url "person-list" %}" class="btn btn-dark">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-info-subtle">
                <div class="card-body text-center " >
                    <h5 class="card-title bg-info-subtle rounded-4">Lista de Facções</h5>
                    <p class="card-text">Exibe todas as facções cadastras.</p>
                    <a href="{% url "person-list" %}" class="btn btn-dark">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock 'content' %}