{% extends "base/base.html" %}
{% load static %}

{% block 'content' %}
<div class="container">    
    {% if persons %}
    <ol class="list-group list-group-numbered">
        {% for person in persons %}
            <a href="{% url 'person-detail' person.id %}">
                <li class="list-group-item d-flex justify-content-between align-items-start {% cycle 'bg-light' 'bg-white' %}">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{person.name}}</div>
                        {% if person.members.all %}
                            <img src="{% static 'general/img/member.png' %}"> 
                            {% for member in person.members.all %}
                                {{member}}
                            {% endfor %}  
                        {% endif %}
                        | 
                        {% if person.leaders.all %}
                            <img src="{% static 'general/img/leader.png' %}"> 
                            {% for leader in person.leaders.all %}
                                {{leader}}
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if person.incident.all %}
                    <span class="badge bg-primary rounded-pill">{{person.incident.all|length}}</span>
                    {% else %}
                    <span class="badge bg-primary rounded-pill">{{person.involved_persons.all|length}}</span>

                    {% endif %}
                </li>
            </a>
        {% endfor %}
    </ol>
    {% else %}
    <h1>Nenhuma pessoa localizada </h1>
    {% endif %}
</div>




{% endblock 'content' %}