<h1> Página para registrar os incidentes </h1>

   <form method='POST' action='{% url "registration-incident" %}'>
    {% csrf_token %}

      <table>
          {{form.as_table}}
      </table>
      <input type="hidden" name="person" value={{person.id}}>

      <input type='submit' value='Registrar'>
    
    </form> 

<hr>


{% comment %} Script abaixo renderiza um campo dinâmico para pesquisar {% endcomment %}

{% comment %} <hr>
<select id="selectBox" class="js-example-basic-single" style="width: 200px;">
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
  <option value="4">Option 4</option>
  <option value="5">Option 5</option>
  <option value="6">Option 6</option>
  <option value="7">Option 7</option>
  <option value="8">Option 8</option>
  <option value="9">Option 9</option>
  <option value="10">Option 10</option>
</select>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.0/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
  $('.js-example-basic-single').select2();
});
</script> {% endcomment %}