{% extends "base/base.html" %}
{% block 'content' %}
<div class='container-md mt-4 d-flex justify-content-center align-items-center bg-body-secondary' >
    <div class='col-md-5'>
        
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            
            <p>Registrar uma ocorrência para <strong>{{person.name}}</strong> e envolvidos <br>
          
        </div>
        
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Instruções!</strong>
          <p>Nesta seção é possível registrar uma ocorrência. <br>
            <ul>
                <li> <strong>Cancelar</strong> leva você de volta a pessoa</li>
                <li> <strong>Enviar dados</strong> faz o vínculo com à pessoa</li>
                <li> Caso queira voltar a lista de pessoas, utilize a <strong>barra de navegação</strong></li>
              </ul>
            </div>

          </div>
          
          <div class='col-md-6'>
            <form method='POST' action='{% url "registration-incident" %}' class='p-4 bg-body-secondary'>
        {% csrf_token %}
        <table class='table'>
                {{form.as_table}}
            </table>
          
            <button type="submit" class="btn btn-outline-primary btn-block mt-3">Registrar</button>
            <input type="hidden" name="person" value={{person.id}}>
            <a href='{% url "person-detail" person.id%}' class='btn btn-warning btn-block mt-3'>Cancelar</a>
          </form>
        </div>
</div>


{% endblock 'content' %}

