<h2> {{person.name}} </h2>

    <form action="{% url "add-member"%}"  method="POST">
        {% csrf_token %}
        <label for="opcoes">Escolha a facção:</label>
        <select id="opcoes" name="opcoes">
            {% for faction in factions %}
                <option value="{{faction.id}}">{{faction.name}}</option>
            
            {% endfor %}

            <!-- Adicione mais opções conforme necessário -->
        </select>
        
        <input type="hidden" name="person" value={{person.id}}>
        
        <input type="submit" value="Enviar">
    </form>